{% extends "frontbot/base.html" %}

{% block content %}
{% load static %}
<div class="container" style="padding-top: 3rem;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card" style="width: 22rem;">
                <img src="{% static 'img/robot.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a style="text-decoration: none; color: black;" href="{{workflow.url}}" target="_blank"><h5 class="card-title">Bot: {{workflow.name}}</h5></a>
                  <p class="card-text">
                      <span style="font-weight: bold;">Status:</span> 
                      <span hx-get="{% url 'check_status' %}" hx-trigger="load, every 20s" hx-target="#status">
                        <span id="status">
                          <span class="spinner-border spinner-border-sm" role="status"></span>
                        </span>
                      </span><br>
                      <span style="font-weight: bold;">Resultado: </span>
                      <span hx-get="{% url 'check_conclusions' %}" hx-trigger="load, every 30s" hx-target="#conclusion">
                        <span id="conclusion">
                          <span class="spinner-border spinner-border-sm" role="status"></span>
                        </span>
                      </span><br>
                      <span style="font-weight: bold;">Iniciado em: </span>
                      <span hx-get="{% url 'created_at' %}" hx-trigger="load, every 30s" hx-target="#created_at">
                        <span id="created_at">
                          <span class="spinner-border spinner-border-sm" role="status"></span>
                        </span>
                      </span><br>
                      <span style="font-weight: bold;">Finalizado em: </span>
                      <span hx-get="{% url 'updated_at' %}" hx-trigger="load, every 30s" hx-target="#updated_at">
                        <span id="updated_at">
                          <span class="spinner-border spinner-border-sm" role="status"></span>
                        </span>
                      </span><br>
                  </p>
                  <a href="#" class="btn btn-primary">Executar Bot</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}